:root {
    --primary-color-lighter: #ede4f2;
    --primary-color-light: #e2baf7;
    --primary-color: #a036d9;
    --primary-color-dark: #8423b8;
    --primary-color-darker: #60098f;
    --red: #D32F2F;
    --red-dark: #B71C1C;
    --blue: #1565C0;
    --blue-dark: #0D47A1;
    --green: #66BB6A;
    --green-dark: #2E7D32;
    --yellow: #FFD54F;
    --yellow-dark: #FFC107;

    --gray0: #FFF;
    --gray1: #e1e1e1;
    --gray2: #d9d9d9;
    --gray3: #c7c7c7;
    --gray4: #b6b6b6;
    --gray5: #a1a1a1;
    --gray6: #7d7d7d;
    --gray7: #6b6b6b;
    --gray8: #4e4e4e;
    --gray9: #333;
    --gray10: #2e2e2e;
    --gray11: #000;

    --text-light: #FFF;
    --text-medium-light: #c7c7c7;
    --text-medium: #6b6b6b;
    --text-dark: #333;

    --background-light: #EEF;
    --background-dark: #2e2e2e;

    --inner-background-light: #FFF;
    --inner-background-dark: #4e4e4e;
}

.light-theme {
    
    --background: var(--background-light);
    --inner-background: var(--inner-background-light);
    --inner-text-color: var(--gray9);
    --inner-separator: var(--gray1);

    --thumb-background: var(--gray0);
    --thumb-border: var(--gray4);
}

.dark-theme {

    --background: var(--background-dark);
    --inner-background: var(--inner-background-dark);
    --inner-text-color: var(--gray1);
    --inner-separator: var(--gray6);

    --thumb-background: var(--gray10);
    --thumb-border: var(--gray4);
}

.extreme-light {
    background-color: #FFF;
    color: #000;
}

.extreme-dark{
    background-color: #000;
    color: #FFF;
}

.primary-light {
    background-color: var(--primary-color-light) !important;
    color: var(--text-light);
}
.primary {
    background-color: var(--primary-color) !important;
    color: var(--text-light);
}
.dark-primary {
    background-color: var(--primary-color-dark) !important;
    color: var(--text-light);
}
.red {
    background-color: var(--red) !important;
    color: var(--text-light);
}
.dark-red {
    background-color: var(--red-dark) !important;
    color: var(--text-light);
}
.green {
    background-color: var(--green) !important;
    color: var(--text-light);
}
.dark-green {
    background-color: var(--green-dark) !important;
    color: var(--text-light);
}
.blue {
    background-color: var(--blue) !important;
    color: var(--text-light);
}
.dark-blue {
    background-color: var(--blue-dark) !important;
    color: var(--text-light);
}
.yellow {
    background-color: var(--yellow) !important;
    color: var(--text-dark);
}
.dark-yellow {
    background-color: var(--yellow-dark) !important;
    color: var(--text-dark);
}

button:hover{
    filter: brightness(90%)
}
button:active{
    filter: brightness(80%)
}
