:root {
    --primary-color-lighter: #ede4f2;
    --primary-color-light: #e2baf7;
    --primary-color: #a036d9;
    --primary-color-dark: #8423b8;
    --primary-color-darker: #60098f;
    --red: #D32F2F;
    --red-dark: #B71C1C;
    --blue: #1565C0;
    --blue-dark: #0D47A1;
    --green: #66BB6A;
    --green-dark: #2E7D32;
    --yellow: #FFD54F;
    --yellow-dark: #FFC107;

    --text-light: #FFF;
    --text-medium-light: #c7c7c7;
    --text-medium: #6b6b6b;
    --text-dark: #333;

    --test-one: #eef4ff;
}

.primary-light {
    background-color: var(--primary-color-light) !important;
    color: var(--text-light);
}
.primary {
    background-color: var(--primary-color) !important;
    color: var(--text-light);
}
.dark-primary {
    background-color: var(--primary-color-dark) !important;
    color: var(--text-light);
}
.red {
    background-color: var(--red) !important;
    color: var(--text-light);
}
.dark-red {
    background-color: var(--red-dark) !important;
    color: var(--text-light);
}
.green {
    background-color: var(--green) !important;
    color: var(--text-light);
}
.dark-green {
    background-color: var(--green-dark) !important;
    color: var(--text-light);
}
.blue {
    background-color: var(--blue) !important;
    color: var(--text-light);
}
.dark-blue {
    background-color: var(--blue-dark) !important;
    color: var(--text-light);
}
.yellow {
    background-color: var(--yellow) !important;
    color: var(--text-dark);
}
.dark-yellow {
    background-color: var(--yellow-dark) !important;
    color: var(--text-dark);
}

button:hover{
    filter: brightness(90%)
}
button:active{
    filter: brightness(80%)
}
