* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--background);
	
	display: flex;
	flex-direction: column;
	  
	height: 100%;
	margin: 0;

	transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

/* Button */
button {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	height: 2.2rem;
	padding: 0 1rem;
	border-radius: 4px;
	border: none;
	font-weight: 700 !important;
}

button.icon {
	padding: 0 0rem !important;
	min-width: max-content;
	vertical-align: bottom;
}

button.icon {
	height: 2.2rem;
	width: 2.2rem;
	margin: auto;
	text-align: center !important;
}

button:hover {
	cursor: pointer;
}

button:focus {
	outline: 0;
}

/* Input */
.form-field {
	display: block;
	width: 100%;
	padding: 0.4rem 1rem;
	font-size: 95%;
	font-weight: 300;
	font-family: inherit;
	border-radius: 0.3rem;
	-webkit-appearance: none;
	color: var(--text-medium);
	border: 1px solid var(--primary-color);
	background: var(--input-background);
  }
  .form-field::-webkit-input-placeholder {
	color: var(--text-medium-light);
  }
  .form-field::-moz-placeholder {
	color: var(--text-medium-light);
  }
  .form-field:-ms-text-medium-light {
	color: var(--text-medium-light);
  }
  .form-field::-ms-text-medium-light {
	color: var(--text-medium-light);
  }
  .form-field::placeholder {
	color: var(--text-medium-light);
  }
  .form-field:focus {
	outline: none;
	border-color: var(--primary-color-darker);
  }
  
  .form-group {
	position: relative;
	display: -webkit-box;
	display: flex;
	border-radius: 0.3rem;
  }

  .form-group > span:first-child,
  .form-group .form-field:first-child {
	border-radius: 0.3rem 0 0 0.3rem;
  }
  .form-group > span:last-child,
  .form-group .form-field:last-child {
	border-radius: 0 0.3rem 0.3rem 0;
  }
  .form-group > span:not(:first-child),
  .form-group .form-field:not(:first-child) {
	margin-left: -1px;
  }

  .form-group > span {
	text-align: center;
	padding: 0.35rem 0.8rem;
	font-size: 85%;
	line-height: 2em;
	background: var(--primary-color-lighter);
	border: 1px solid var(--primary-color);
	transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
	color: var(--text-medium);
  }
  .form-group:focus-within > span {
	background: var(--primary-color-light);
	border-color: var(--primary-color-darker);
  }
  

/* Card */
.card {
	color: var(--inner-text-color);
	background-color: var(--inner-background);
	border-radius: 5px;
	/* width: 100%; */

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.card > .header {
	padding: 1rem;
	font-size: 120%;
	font-weight: bold;
	width: 100%;
	display: flex;
	align-items: center;
}

.card .header .right {
	display: flex;
	margin-left: auto;
	align-items: center;
}

.card .content {
	font-size: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card > .content {
	border-top: 1px solid var(--inner-separator);
}

.card .content .header {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 80%;
}

.card .header marquee {
	font-size: 80%;
	font-weight: 300;
}

/* Slider */
.slider {
	-webkit-appearance: none;
	height: 0.3em;
	background: #DDD;
	outline: none;
	border-radius: 0.5rem;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1rem;
	height: 1rem;
	border-radius: 0.5rem;
	background: #fff;
    cursor: pointer;
    border: 1px solid #AAA;
}

.slider::-moz-range-thumb {
	width: 1rem;
	height: 1rem;
	border-radius: 0.5rem;
	background: #fff;
    cursor: pointer;
    border: 1px solid #AAA;
}

/* Message */
.message {

	position: fixed;
	
	left: 0;
	right: 0;

	margin: auto;
	padding: 1.5rem;
	max-width: 100%;
	display: flex;
	align-items: center;
	border-radius: 4px;

	z-index: 9999;

	transition: .2s;
}

/* Small Screen */
@media only screen and (max-width:600px){

	.card {
		margin: 0.5em auto;
		width: 90%;
	}
	
	.message {
		width: 95vw;
		bottom: 1rem
	}
	
	.form-group {
		width: 90vw;
	}
}

/* Normal Screen */
@media only screen and (min-width:600px){

	.card {
		margin: 1rem auto;
		width: 55vw;
	}

	.message {
		bottom: 2rem;
		width: 40vw;
	}

	.form-group {
		width: 20vw;
	}
}

#login-container{
	height: 100%;
}