* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: auto;
	background-color: #FFF;
}

.raised {
	-webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .2);
	z-index: 15;
}

button {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	height: 2.2rem;
	padding: 0 1rem;
	border-radius: 4px;
	border: none;
	font-weight: 700 !important;
}

button.icon {
	padding: 0 0rem !important;
	min-width: max-content;
	vertical-align: bottom;
}

button.icon {
	height: 2.2rem;
	width: 2.2rem;
	margin: auto !important;
	text-align: center !important;
}

button:hover {
	cursor: pointer;
}

button:focus {
	outline: 0;
}

.card {
	background-color: #FFF;
	border-radius: 5px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.card>.header {
	padding: 1rem;
	font-size: 120%;
	font-weight: bold;
	width: 100%;
	display: flex;
	align-items: center;
}

.card .header .right {
	margin-left: auto;
}

.card .content {
	padding: 1rem;
	font-size: 100%;
}

.card > .content {
	border-top: 1px solid #EFEFEF;
}

.card .content .header {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 80%;
}

.slider {
	width: 100%;
	margin: 0.5rem 0;
	-webkit-appearance: none;
	height: 0.3em;
	background: #DDD;
	outline: none;
	border-radius: 0.5rem;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1rem;
	height: 1rem;
	border-radius: 0.5rem;
	background: #fff;
    cursor: pointer;
    border: 1px solid #AAA;
}

.slider::-moz-range-thumb {
	width: 1rem;
	height: 1rem;
	border-radius: 0.5rem;
	background: #fff;
    cursor: pointer;
    border: 1px solid #AAA;
}

/* Message */
.message {

	position: fixed;
	
	left: 0;
	right: 0;

	margin: auto;
	padding: 1.5rem;
	max-width: 100%;
	display: flex;
	align-items: center;
	border-radius: 4px;

	z-index: 9999;

	visibility: hidden;
	transition: .2s;
}

.message > i {
	padding-right: 1rem;
}

.message > span {
	margin: auto;
}


/* Small Screen */
@media only screen and (max-width:600px){

	.card {
		margin: 0.5em;
	}
	
	.message {
		width: 95vw;
		bottom: 1rem
	}
}

/* Normal Screen */
@media only screen and (min-width:600px){

	.card {
		max-width: 55vw;
		margin: 0.5em auto;
	}

	.message {
		bottom: 2rem;
		width: 40vw;
	}
}